[UI]
enableRichToolTips = true

[HTTPServer]
enabled = true
addr = "localhost"
port = 12321
useIpv6 = true

[GHub]
enabled = true

[Native]
enabled = true

# Time in seconds to retry a device poll on failure
retryTime = 10

# Time in seconds to next device poll on sucess
pollPeriod = 600

# List of disabled devices
disabledDevices = [
]

[Notifications]
# Enable/disable low battery notifications
notifyOnBatteryLow = true

# Battery percentage threshold for low battery warnings
# Additional warnings will be shown at 10% and 5%
batteryLowThreshold = 30

# Enable/disable battery charged notifications
notifyOnBatteryHigh = true

# Battery percentage threshold for "charged" notification
batteryHighThreshold = 80